<div class="report">
	<div>
		<h1 class="text-center">Kinerja Training</h1>
		<a href="/download-report" class="btn btn-link" target="blank">Download file report</a>
		<div class="underline-section-title"></div>
	</div>
</div><div class="bar">
	<div>
		<h1 class="text-center">Kinerja Testing</h1>
		<div class="underline-section-title"></div>
		<div class="row">
			<div class="col-md-4">
				<canvas id="nb-aw" width="3" height="2"></canvas>
			</div>
			<div class="col-md-4">
				<canvas id="log-reg-aw" width="3" height="2"></canvas>
			</div>
			<div class="col-md-4">
				<canvas id="svm-aw" width="3" height="2"></canvas>
			</div>
		</div>
		<div class="underline-section-title"></div>
		<div class="text-right">
			<p>Model/fitur terbaik: <span id="best-model"></span></p>
		</div>
	</div>
</div>