<!-- Nav tabs -->
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="1" data-toggle="tab" href="#show-raw-data" role="tab" aria-controls="home" aria-selected="true">Raw Data</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="3" data-toggle="tab" href="#komentar" role="tab" aria-controls="messages" aria-selected="false">Komentar</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="6" data-toggle="tab" href="#training" role="tab" aria-controls="settings" aria-selected="false">Analisis</a>
	</li>
</ul>