<section>
	<div class="container">
		<h1 class="text-center">Perbandingan jumlah tiap kelas data asli</h1>
		<div class="underline-section-title"></div>
		<div class="row">
			<div class="ml-auto col-md-4">
				<div class="card porsi_data">
					<div class="card-body text-center">
						<h5 class="card-title">N kelas positif</h5>
						<p class="card-text n-kelas">{{porsi_data[0]}}</p>
					</div>
				</div>
			</div>
			<div class="mr-auto col-md-4">
				<div class="card porsi_data">
					<div class="card-body text-center">
						<h5 class="card-title">N kelas negatif</h5>
						<p class="card-text n-kelas">{{porsi_data[1]}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>