<section>
	<div class="container text-center">
		<div id="spinner-smote" class="spinner"><img src="{{ url_for('static', filename='img/spinner.gif') }}"></div>
		<button type="button" class="btn btn-outline-dark btn-loading" id="btn-smote">
			Lakukan SMOTE
		</button>
		<div id="info-data-smote">
			<h1 class="text-center">Perbandingan jumlah tiap kelas data resampled</h1>
			<div class="underline-section-title"></div>
			<div class="row">
				<div class="ml-auto col-md-4">
					<div class="card porsi_data">
						<div class="card-body text-center">
							<h5 class="card-title">N kelas positif</h5>
							<p class="card-text n-kelas" id="n_pos_smote"></p>
						</div>
					</div>
				</div>
				<div class="mr-auto col-md-4">
					<div class="card porsi_data">
						<div class="card-body text-center">
							<h5 class="card-title">N kelas negatif</h5>
							<p class="card-text n-kelas" id="n_neg_smote"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>