<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="show-raw-data" role="tabpanel" aria-labelledby="home-tab">
		{% include 'includes/tabs/_raw-data-1.html' %}
	</div>
	<div class="tab-pane" id="show-porsi-data" role="tabpanel" aria-labelledby="profile-tab">
		{% include 'includes/tabs/_porsi-data.html' %}
	</div>
	<div class="tab-pane" id="komentar" role="tabpanel" aria-labelledby="messages-tab">
		{% include 'includes/tabs/_komentar-1.html' %}
	</div>
	<div class="tab-pane" id="vektorisasi" role="tabpanel" aria-labelledby="settings-tab">
		{% include 'includes/tabs/_vektorisasi.html' %}
	</div>
	<div class="tab-pane" id="smote" role="tabpanel" aria-labelledby="settings-tab">
		{% include 'includes/tabs/_smote.html' %}
	</div>
	<div class="tab-pane" id="training" role="tabpanel" aria-labelledby="settings-tab">
		{% include 'includes/tabs/_training.html' %}
	</div>
</div>